<tr class="span-11">
	<td class="span-2"><%= ibtr_stat.branch_id %><br/></td>
	<td class="span-1"><%= ibtr_stat.new_cnt %><br/></td>
	<td class="span-2"><%= ibtr_stat.assigned_cnt %><br/></td>
	<td class="span-2"><%= ibtr_stat.fulfilled_cnt %><br/></td>
	<td class="span-1"><%= ibtr_stat.received_cnt %><br/></td>
	<td class="span-1"><%= ibtr_stat.dispatched_cnt %><br/></td>
	<td class="span-1"><%= ibtr_stat.declined_cnt %><br/></td>
	
</tr>