
<%= content_tag :div, :class=> "span-24", :id => "div_hist_#{ibtrversion.ibtr_id}_#{ibtrversion.id}" do -%>
	<div class="span-1"><%= ibtrversion.version %></div>
	<div class="span-5"><%= ibtrversion.created_at.strftime('%d-%b-%y') %>
											(<%= distance_of_time_in_words(ibtrversion.created_at, Time.zone.now) %> ago)<br/></div>
	<div class="span-2"><%= ibtrversion.member_id %><br/></div>
	<div class="span-2"><%= ibtrversion.card_id %><br/></div>
	<div class="span-2"><%= ibtrversion.branch_id %><br/></div>
	<div class="span-2"><%= ibtrversion.state %><br/></div>
	<div class="span-2"><%= ibtrversion.respondent_id %><br/></div>
	<div class="span-5"><%= ibtrversion.updated_at.strftime('%d-%b-%y') %>
											(<%= distance_of_time_in_words(ibtrversion.updated_at, Time.zone.now) %> ago)<br/></div>
	
<% end -%>