<div class="span-15">
	<div class="span-2"><%= ibtr_stat.branch_id %></div>
	<div class="span-2"><%= ibtr_stat.new_cnt %></div>
	<div class="span-2"><%= ibtr_stat.assigned_cnt %><br/></div>
	<div class="span-2"><%= ibtr_stat.fulfilled_cnt %><br/></div>
	<div class="span-2"><%= ibtr_stat.declined_cnt %><br/></div>
	<div class="span-2"><%= ibtr_stat.cancelled_cnt %><br/></div>
	<div class="span-2"><%= ibtr_stat.duplicate_cnt %><br/></div>
	
</div>