<tr class="span-15">
	<td class="span-2"><%= ibtr_resp_stat.respondent_id %><br/></td>
	<td class="span-2"><%= ibtr_resp_stat.assigned_cnt %><br/></td>
	<td class="span-2"><%= ibtr_resp_stat.fulfilled_cnt %><br/></td>
	<td class="span-2"><%= ibtr_resp_stat.declined_cnt %><br/></td>
	<td class="span-2"><%= ibtr_resp_stat.cancelled_cnt %><br/></td>
	
</tr>