<div class="span-24">
	<%= form_tag 'sort', :class=>'ibtrs', :method => 'sort' do -%>
    <% unless @ibtr.nil? %>
	  <% if @ibtr.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@ibtr.errors.count, "error") %> prohibited this book to fulfill:</h2>

	      <ul>
	      <% @ibtr.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
    <% end %>

			<%= field_set_tag 'lookup' do %>
				<%= label_tag 'Book No:'%>
				<%= text_field_tag :book_no, params[:book_no] %>
				<br/>
				<br/>
				<%= submit_tag "Submit", :name => nil %>
			<% end -%>
	<% end -%>
</div>
