<div class="span-24">
  <div class="span-24">
    <%= render :partial => 'report_menu' %>
    <div class="span-14">
      <%= render :partial => 'searchForm' %>
    </div>
  </div>
  <div class="span-24">
    <h3>Requesting branches view</h3>
    <div class="span-11" >
    <% unless @ibtr_stats.size == 0 %>
    <div class="span-24">
        <br/>
        See ibtr position
        <%= link_to_function "chart", "IBTStatApp.showChart('chart_1','stacked:gradient', true)" %>  
        <br/>
        <br/>
    </div>
    <div class="span-24" id = "chart_1" style="display:none">
      <div class="span-11" id ="ibtr" >
        <%= render :partial => '/statistics/ibtr_stat', :locals => { :ibtr_stats => @ibtr_stats, :div_id => 'chart_1'} %>
        <br/>
        <br/>
      </div>
    </div>

    <div class="span-12">
      
      <h6>Current status of IBTR <%= report_msg(params[:Created], params[:start], params[:end]) %>
      </h6>
      <br/>
      
      <table width="100%">
        <thead>
        <tr class="span-11">
        <th class="span-2">Requesting branch</th>
        <th class="span-1">New</th>
        <th class="span-2">Assigned</th>
        <th class="span-2">Fulfilled</th>
        <th class="span-1">Declined</th>
        <th class="span-1">Cancelled</th>
        <th class="span-1">Dup.</th>
        </tr>
        </thead>
      <%= render :partial => "ibtr_stat", :collection => @ibtr_stats %>
        
      </table>
      
    </div>
    <% end %>
  </div>
  <div class="span-11" >
    <% unless @ibtr_version_stats.size == 0 %>
    <div class="span-11">
        <br/>
        See ibtr position
        <%= link_to_function "chart", "IBTStatApp.showChart('chart_2','grouped', false)" %>  
        <br/>
        <br/>
    </div>
    <div class="span-11" id = "chart_2" style="display:none">
      <div class="span-11" id ="ibtr" >
      
        <%= render :partial => '/statistics/ibtr_stat', :locals => { :ibtr_stats => @ibtr_version_stats, :div_id => 'chart_2'} %>
        <br/>
        <br/>
      </div>
    </div>

    <div class="span-11">
      
      <h6>IBTR aggregate status <%= report_msg(params[:Created], params[:start], params[:end]) %>
      </h6>
      <br/>
      
      <table width="100%">
        <thead>
        <tr class="span-11">
        <th class="span-2">Requesting branch</th>
        <th class="span-1">New</th>
        <th class="span-2">Assigned</th>
        <th class="span-2">Fulfilled</th>
        <th class="span-1">Declined</th>
        <th class="span-1">Cancelled</th>
        <th class="span-1">Dup.</th>
        </tr>
        </thead>
      <%= render :partial => "ibtr_stat", :collection => @ibtr_version_stats %>
        
      </table>
      
    </div>
    <% end %>
  </div>
    <% if @ibtr_stats.size == 0 %>

      <div class="span-11">
        <br/>
        no data found
        
      </div>  
    <% end %>
  </div>
  </div>
</div>