<consignment>
	<id><%= @consignment.id %></id>
	<origin><%= @consignment.origin.name %></origin>
	<destination><%= @consignment.destination.name %></destination>
	<waybill_no><%= @consignment.waybill_no %></waybill_no>
	<goods_count><%= @consignment.goods_count %></goods_count>
	<goods>
		<% @consignment.goods.each do |good| -%>
		<good>
			<id><%= good.id %></id>
			<book_no><%= good.book_no %></book_no>
			<title>
				<id><%= good.title_id %></id>
				<name><%= good.title.title unless good.title.nil? %></name>
			</title>
			<ibtr>
				<id><%= good.ibtr_id %></id>
				<state><%= good.ibtr.state unless good.ibtr.nil? %></state>
			</ibtr>
		</good>
		<% end -%>
	</goods>
</consignment>