<script type="text/javascript">
  function setPrinterDiv(id){
    document.getElementById(id).style.display = 'block';
    $('#pickup').printElement({
      overrideElementCSS:['print.css', { href:'print.css', media:'print'}],
      leaveOpen:true,
      printMode:'popup'
    });
		document.getElementById(id).style.display = 'none';
  }
</script>
  <p><span style="font-family: geneva, arial, helvetica, sans-serif;font-size: 1.0em;"><u><b>Consignment Receipt</b></u></span></p>
  <%= button_to_function 'Print', "setPrinterDiv('pickup');" %> 
  <div id='pickup' style='display:none'>
    <div class="span-5 small">
      <h3>Consignment</h3>
      <b>Waybill No:</b> <%= @consignment.waybill_no %> <br/>
      <b>Origin:</b> <%= @consignment.origin.name %> <br/>
      <b>Destination:</b> <%= @consignment.destination.name %> <br/>
      <b>Consignor:</b> <%= @consignment.consignor %> <br/>
      <b>Consignee:</b> <%= @consignment.consignee %> <br/>
      <b>State:</b> <%= @consignment.state %> <br/>
      <b>Total Goods:</b> <%= @consignment.goods_count %> <br/>
      <b>Delivered Goods:</b> <%= @consignment.goods_delivered_count %> <br/>
    </div>
    <div class="span-5 small" style="overflow:auto">
      <table>
        <tr>
          <th>Book No</th>				
          <th>Title</th>
        </tr>
        <% @consignment.goods.each do |good| =%>
          <tr>
            <td><%= good.book_no %></td>
            <td><%= "#{good.title.title}-#{good.title_id}"   unless good.title.nil? %></td>
          </tr>
        <% end -%>			
      </table>
    </div>
  </div>

  <div class="span-14">

    <div class="span-8">
      <h3>Consignment</h3>
      <b>Waybill No:</b> <%= @consignment.waybill_no %> <br/>
      <b>Origin:</b> <%= @consignment.origin.name %> <br/>
      <b>Destination:</b> <%= @consignment.destination.name %> <br/>
      <b>Consignor:</b> <%= @consignment.consignor %> <br/>
      <b>Consignee:</b> <%= @consignment.consignee %> <br/>
      <b>State:</b> <%= @consignment.state %> <br/>
      <b>Total Goods:</b> <%= @consignment.goods_count %> <br/>
      <b>Delivered Goods:</b> <%= @consignment.goods_delivered_count %> <br/>
    </div>
    <hr/>

    <div class="span-14">
      <table>
        <tr>
          <th>Book No</th>				
          <th>Title</th>
          <th>Requested By</th>
          <th>Card</th>
          <th>Requested Date</th>
          <th>IBT State</th>
        </tr>
        <% @consignment.goods.each do |good| =%>
          <tr>
            <td><%= good.book_no %></td>
            <td><%= "#{good.title.title}-#{good.title_id}"   unless good.title.nil? %></td>
            <% unless good.ibtr.nil? -%>
              <td><%= good.ibtr.branch.name %></td>
              <td><%= good.ibtr.card_id %></td>
              <td><%= good.ibtr.created_at.strftime("%m-%d-%Y") %></td>
              <td><%= good.ibtr.state %></td>
            <% else %>
              <td colspan='4'></td>
            <% end -%>
          </tr>
        <% end -%>			
      </table>
    </div>
    <hr/>

    <div class="span-14">
      <%= link_to 'Show All', consignments_path %>
      <!--%= link_to 'Edit', edit_consignment_path(@consignment) %-->
    </div>
  </div>
